@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$heading_font: 'Righteous', cursive;
$sub_heading_font: 'Kanit', sans-serif;
$body_font: 'Montserrat', sans-serif;

$color_1 : #73B7B8;
$color_2 : #52A1A3;
$color_3 : #76C8B1;
$color_4 : #50B99B;
$color_5 : #DC244B;
$color_6 : #AF1D3C;
$color_7 : #F6CB52;
$color_8 : #F3B816;
$color_9 : #D23F0F;
$color_10: #F05A29;
$color_white: white;

$font_size_header: 5rem;
$font_size_subHeader: 3rem;

$header_padding_topBottom: 15rem;
$header_padding_leftRight: 3rem;
$subHeader_padding_topBottom: 8rem;
$subHeader_padding_leftRight: 3rem;