@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*****************************************************************
  ______          _       
 |  ____|        | |      
 | |__ ___  _ __ | |_ ___ 
 |  __/ _ \| '_ \| __/ __|
 | | | (_) | | | | |_\__ \
 |_|  \___/|_| |_|\__|___/

*****************************************************************/
/*****************************************************************
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/

*****************************************************************/
/*****************************************************************
  _    _                _ _                  
 | |  | |              | (_)                 
 | |__| | ___  __ _  __| |_ _ __   __ _      
 |  __  |/ _ \/ _` |/ _` | | '_ \ / _` |     
 | |  | |  __/ (_| | (_| | | | | | (_| |     
 |_|  |_|\___|\__,_|\__,_|_|_| |_|\__, |     
 \ \    / /       (_)     | |   | |__/ |     
  \ \  / /_ _ _ __ _  __ _| |__ | |___/  ___ 
   \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
    \  / (_| | |  | | (_| | |_) | |  __/\__ \
     \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*****************************************************************/
body {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  background-color: #D23F0F;
  margin: 0;
  padding-top: 15rem;
  padding-bottom: 15rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 5rem;
  font-family: "Righteous", cursive;
  width: 80%;
}

h3 {
  color: white;
  background-color: #50B99B;
  margin: 0;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  width: 60%;
}

/*****************************************************************
  ______          _       
 |  ____|        | |      
 | |__ ___  _ __ | |_ ___ 
 |  __/ _ \| '_ \| __/ __|
 | | | (_) | | | | |_\__ \
 |_|  \___/|_| |_|\__|___/

*****************************************************************/
/*****************************************************************
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/

*****************************************************************/
/*****************************************************************
  _    _                _ _                  
 | |  | |              | (_)                 
 | |__| | ___  __ _  __| |_ _ __   __ _      
 |  __  |/ _ \/ _` |/ _` | | '_ \ / _` |     
 | |  | |  __/ (_| | (_| | | | | | (_| |     
 |_|  |_|\___|\__,_|\__,_|_|_| |_|\__, |     
 \ \    / /       (_)     | |   | |__/ |     
  \ \  / /_ _ _ __ _  __ _| |__ | |___/  ___ 
   \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
    \  / (_| | |  | | (_| | |_) | |  __/\__ \
     \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*****************************************************************/
/*****************************************************************
  ______          _       
 |  ____|        | |      
 | |__ ___  _ __ | |_ ___ 
 |  __/ _ \| '_ \| __/ __|
 | | | (_) | | | | |_\__ \
 |_|  \___/|_| |_|\__|___/

*****************************************************************/
/*****************************************************************
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/

*****************************************************************/
/*****************************************************************
  _    _                _ _                  
 | |  | |              | (_)                 
 | |__| | ___  __ _  __| |_ _ __   __ _      
 |  __  |/ _ \/ _` |/ _` | | '_ \ / _` |     
 | |  | |  __/ (_| | (_| | | | | | (_| |     
 |_|  |_|\___|\__,_|\__,_|_|_| |_|\__, |     
 \ \    / /       (_)     | |   | |__/ |     
  \ \  / /_ _ _ __ _  __ _| |__ | |___/  ___ 
   \ \/ / _` | '__| |/ _` | '_ \| |/ _ \/ __|
    \  / (_| | |  | | (_| | |_) | |  __/\__ \
     \/ \__,_|_|  |_|\__,_|_.__/|_|\___||___/

*****************************************************************/

/*# sourceMappingURL=style.css.map */
